* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
header .navBar {
  width: 74%;
}
header .navBar .navbarCnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navBar .navbarCnt .logoCnt {
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .navBar .navbarCnt .logoCnt a {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: white;
}
header .navBar .navbarCnt .logoCnt a {
  display: flex;
  font-size: 24px;
}
header .navBar .navbarCnt .navItemsCnt {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
header .navBar .navbarCnt .navItemsCnt li a {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
}
header .navBar .navbarCnt .navItemsCnt li a:hover {
  color: #fd784f;
}
header .navBar .numberHeader {
  width: 29%;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: end;
}
header .navBar .numberHeader p {
  width: 95%;
  min-height: 50px;
  background-color: #fd784f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

#greenStars {
  width: 100%;
  height: 715px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/image/8K\ 1080P\,\ 2K\,\ 4K\,\ 5K\ HD\ wallpapers\ free\ download.jpeg);
}
#greenStars .formcontainer1 {
  width: 50%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.43);
  border: 1px solid aquamarine;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#greenStars .formcontainer1 h1 {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5bfefd;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
#greenStars .formcontainer1 .inputscontainer1 {
  width: 75%;
  height: 80%;
}
#greenStars .formcontainer1 .inputscontainer1 #myForm1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#greenStars .formcontainer1 .inputscontainer1 #myForm1 .inputcnt {
  width: 100%;
  height: 15%;
}
#greenStars .formcontainer1 .inputscontainer1 #myForm1 .inputcnt input {
  width: 100%;
  height: 100%;
  border: 2px solid #85fdff;
  background-color: #011730;
  color: rgba(91, 254, 254, 0.737254902);
}
#greenStars .formcontainer1 .inputscontainer1 #myForm1 .inputcnt input::placeholder {
  color: rgba(91, 254, 254, 0.3215686275);
}
#greenStars .formcontainer1 .inputscontainer1 #myForm1 button {
  width: 25%;
  height: 15%;
}